

          <div class="intro-header">
            <div class="container">
                <div class="row  ">
                  <div class="col-lg-12 ">
                    <% flash.each do |key, value| %>
                            <div class="alert alert-<%= key %>"><%= value %></div>
                        <% end %>
                      <%= image_tag "Shoplandia-TM-logo-white.png", class:"img-responsive" %>

                        <br />
                        <h3 class="text-center-white"> We are building the next generation video-based marketplace. <br /><br/></h3><h4 class="text-center-white">Whether you are a seller or a shopper, <br/>be the first to reimagine the way you shop and sell. </h4><br />

                        

                       <ul class="list-inline intro-social-buttons hidden-xs " id="select_user">
                            <li>
                            <a class= "btn btn-success center-block" onclick="toggle_input('beta_seller');">I'm a Seller</a>
                          </li>
                          <li>
                            <a  class= "btn btn-success center-block" onclick="toggle_input('beta_user');">I'm a Shopper</a>
                          </li> 
                        </ul>

                        <div class="custom-center muted" id="form_field" style="display:none;">
                        <%= form_for(@beta_user) do |f| %>
                          <div class="custom-center muted">
                              <%= f.text_field :email, size: "35", placeholder: "Enter your email address", class:"muted" %>
                              <div style="display:none;">
                                <div class="form-group row">
                                    <%= f.label :type, class: "col-sm-2 control-label" %>
                                    <div class="col-sm-10">
                                      <%= f.text_field :type, class: "form-control" %>
                                    </div>
                                </div>
                              </div>
                         
                            <%= f.submit "Sign Me Up", class: "btn btn-success" %>
                            <br /><br />
                          </div>
                        <% end %>
                      </div>
                      <div class="visible-xs " >
                      <a class= "btn btn-success "  onclick="toggle_input_sm('beta_seller_sm');" id="select_seller_sm">I'm a Seller</a>  
                      <a class= "btn btn-success " onclick="toggle_input_sm('beta_user_sm');" id="select_buyer_sm">I'm a Shopper</a>
                    </div>
                    <br />
                    <div class="custom-center muted" id="form_field_sm" style="display:none;">
                        <%= form_for(@beta_user) do |f| %>
                          <div class="custom-center muted">
                              <%= f.text_field :email, size: "35", placeholder: "Enter your email address", class:"muted" %>
                              <div style="display:none;">
                                <div class="form-group row">
                                    <%= f.label :type, class: "col-sm-2 control-label" %>
                                    <div class="col-sm-10">
                                      <%= f.text_field :type, class: "form-control" %>
                                    </div>
                                </div>
                              </div>
                            <%= f.submit "Sign Me Up", class: "btn btn-success" %>
                            <br /><br />
                          </div>
                        <% end %>
                      </div>


               
                      
                        <br /> <br />
                   <ul class="list-inline intro-social-buttons">
                            <li>
                              <%= image_tag "apple_appstore_comingsoon.png", alt: "BestTime iPhone App coming soon to app store", class:"img-responsive center-block" %>

                            </li>
                            <li>
                                <%= image_tag "google_playstore_comingsoon.png", alt: "BestTime iPhone App coming soon to app store", class:"img-responsive center-block" %>
                            </li> 
                      </ul>    
                        
                  </div>
              </div>
          </div>
        </div>

        <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-5">
                    
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                   <h2 class="muted">Shoplandia's video-based marketplace brings sellers and buyers together in an immersive shopping experience.<br /> <br /> </h2>
                  
                </div>
                <div class="col-lg-7 col-sm-7" style="padding-top:20px;">
                  <%=  image_tag "Collection-Playback-Landscape_iphone6_spacegrey_landscape.png", alt: "Shoplandia delivers more to the shopping experience than images and text", class:"img-responsive center-block" %>
                </div>
            </div>

        </div>
        <!-- /.container -->
      </div>

       

          
     
        


              

<script type="text/javascript"> 
  function toggle_input(id) {
    if(id == 'beta_seller'){
      document.getElementById("beta_user_type").value = "Seller";
    } 
    else{
      document.getElementById("beta_user_type").value = "Buyer";
    }

  document.getElementById('form_field').style.display = 'inline';
  document.getElementById('select_user').style.display = 'none';
  return false;
}

 function toggle_input_sm(id) {
   if(id == 'beta_seller_sm'){
      document.getElementById("beta_user_type").value = "Seller";
    } 
    else{
      document.getElementById("beta_user_type").value = "Buyer";
    }
  document.getElementById('form_field_sm').style.display = 'inline';
  document.getElementById('select_seller_sm').style.display = 'none';
  document.getElementById('select_buyer_sm').style.display = 'none';
  return false;
}
</script>