    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= image_tag "Shoplandia-TM-logo-only-small.png" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

		<div class=" hidden-xs">                                   
			<video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" poster="hero-bg.png">

				<!--<source src="<%= request.protocol + request.host_with_port + asset_path('RoadTrip.mp4') %>" type='video/mp4' />-->
				<<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
					<!-- <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />-->
				<!--<source src="RoadTrip.mp4" type="video/mp4">-->
				<!--<source src="movie.webm" type="video/webm">-->
					Sorry, your browser does not support HTML5 video.
			</video> 
		</div>
            <div class="container intro-header hidden-xs">
                <div class="row row-centered hidden-xs">
                	<div class="col-lg-8 overlay col-lg-offset-2 col-sm-12 hidden-xs">
                      <h1 >Welcome to Shoplandia</h1>
                      <h4><i>Change the way you shop or sell</i></h4><br />
                      <hr class="intro-divider hidden-sm ">
                        <ul class="list-inline intro-social-buttons hidden-sm">
                            <li>
                              <%= image_tag "apple_appstore_comingsoon.png", alt: "BestTime iPhone App coming soon to app store", class:"img-responsive center-block" %>

                            </li>
                            <li>
                                <%= image_tag "google_playstore_comingsoon.png", alt: "BestTime iPhone App coming soon to app store", class:"img-responsive center-block" %>
                            </li> 
                          </ul> 
                        <hr class="intro-divider hidden-sm">
               
                      <h3 class="text-center-white">Here's your chance to be one of the first users!</h3><br />  
                       <ul class="list-inline intro-social-buttons hidden-xs ">
                            <li>
                       			<a href="#" class= "btn btn-success center-block">Better way to sell</a>
                       		</li>
                       		<li>
                       			<a href="#" class= "btn btn-success center-block">Better way to shop</a>
                       		</li>	
                       	</ul>
                       	<div class="custom-center muted">
                        <%= form_for(@beta_user) do |f| %>
                          <div class="custom-center muted">
                              <%= f.text_field :email, size: "35", placeholder: "Enter your email address", class:"muted" %>
                         
                            <%= f.submit "Sign Me Up", class: "btn btn-success" %>
                          </div>
                        <% end %>
                      </div>
                       	
                  </div>
              </div>
          </div>
           <div class="container intro-header hidden-lg hidden-md hidden-sm">
        		<div class="row row-centered hidden-lg hidden-md hidden-sm">
                  <div class="col-sm-6 col-sm-offset-3 hidden-lg hidden-md hidden-sm overlay-orange" style="margin-bottom:-50px;">
                  	
                  	<br />
                  	<br />
                  	<br />
                  	<%= image_tag "Shoplandia-TM-logo-white.png", class:"img-responsive" %>
                  	<br />
                  	<br />
                  	<h4><i>Change the way you shop or sell</i></h4>
                  	<br />

                  	<div class="visible-xs visible-sm inline-override">
                   		<a href="#" class= "btn btn-success ">Better way to sell</a>  <a href="#" class= "btn btn-success ">Better way to shop</a>
                   	</div>
                   	<br />
                  	<br />
                  </div>
              </div>
          </div>
        
      <!-- /.intro-header -->
      <div class="content-section-b ">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12 custom-center" style="margin-top:100px;">
                  <h1 class="muted">What is Shoplandia?<br /> </h1>
                  <br /><p class="lead">The secret to Shoplandia is Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis pretium ipsum, eget feugiat sapien imperdiet eget. Nam tempus nisl quis quam consectetur, vel tempor lorem viverra. Curabitur porttitor justo sed nisi ultrices congue. Maecenas facilisis quam ac luctus porta. Nulla ipsum odio, tincidunt id eleifend eu, lacinia id ex. Fusce arcu massa, aliquet sed sollicitudin sit amet, malesuada et ante. Aliquam in diam luctus, volutpat eros ac, aliquam justo. Nullam ornare lobortis dui nec scelerisque. Donec non pulvinar dui. Etiam malesuada scelerisque mauris. Donec in arcu commodo, sollicitudin diam id, consequat risus. Ut nisi lectus, suscipit vitae efficitur ac, malesuada id leo. Sed elementum, metus at consequat porta, libero turpis congue augue, id efficitur lectus magna sit amet ipsum</p>
                  <br />
                  <h2 class="muted">Tag Line!</h2> <br /> <br />
                </div>
            </div>
        </div>
      </div>
              

